<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TravelConnection" connectionString="Data Source=172.29....;Database=dddd;User ID=sss;Password=ssss;" providerName="System.Data.SqlClient" />

    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-BIW-20151231082722.mdf;Initial Catalog=aspnet-BIW-20151231082722;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ADConnectionString" connectionString="LDAP://addddddd" />
    <add name="AppraisalDbConnectionString" connectionString="Data Source=172.29....;Initial Catalog=BVN_IW;Persist Security Info=True;User ID=...;Password=...." providerName="System.Data.SqlClient" />
    <add name="phoenixConnectionString" connectionString="Data Source=172.29.....;Database=...;Port=5300;User ID=....;Password=....;charset=cp850;" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Active Directory Settings-->
    <add key="sADUser" value="user" />
    <add key="sADPassword" value="ppppp" />
    <add key="sDomain" value="domain" />

    <!--General Settings-->
    <add key="smtpClient" value="172.29...." />
    <add key="smtpClientUsername" value="......" />
    <add key="smtpClientPassword" value="...." />
    <add key="mailFrom" value="......" />
    <add key="urLString" value="http://www.google.com" />
    
    <!--APP SETTINGS-->
    <add key="errorLog" value="C:\BIW" />
    
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name=".ADAuthCookie" loginUrl="~/Account/Login" timeout="45" slidingExpiration="false" protection="All" />
    </authentication>
    <membership defaultProvider="ADMembershipProvider">
      <providers>
        <clear />
        <add name="ADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnectionString" attributeMapUsername="sAMAccountName" />
      </providers>
    </membership>
    <compilation targetFramework="4.5" debug="true" batch="false" />
    <httpRuntime maxRequestLength="1048576" />
    <globalization uiCulture="en" culture="en-GB" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <!-- <system.serviceModel>
  <client>
      <endpoint address="http://webservice-address.asmx"
        binding="basicHttpBinding" 
        bindingConfiguration="BVNService"
        contract="BVNService.ServiceSoap"
        name="WebServiceEndpoint" />
    </client>
  </system.serviceModel>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>