@{
    ViewBag.Title = "Home Page";
}
<div class="contentBody secondcontentBody card" style="margin-top:1px;">
    <div style="display:block;">

    </div>
</div>

<div class="contentBody secondcontentBody card" style="margin-top:-25px;">

    <div align="left" class="line"></div>
    <div class="stf_optionsContainer">



        <div class="jumbotron">
            <h1 style="font-size:40px !important;color:#3498db !important;">BVN INCIDENT WORKFLOW</h1>
            <p class="lead">Log All reported BVN Incidents.</p>
            @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
        </div>

        @*<div class="row">
            <div class="col-md-4">
                <h2>Sample Header</h2>
                <p>
                    Sample Details
                </p>
            </div>
            <div class="col-md-4">
                <h2>Sample Header</h2>
                <p>Sample Details.</p>
            </div>
            <div class="col-md-4">
                <h2>Sample Header</h2>
                <p>Sample Details.</p>
             </div>
        </div>*@

    </div>
</div>
